<scroll-indicator></scroll-indicator>
<div class="flex flex-col p-4 md:p-8">
  <h2>{{ 'privacyPolicy' | translate }}</h2>
  <p class="header">{{ 'privacyPolicyHeader1' | translate }}</p>
  <p class="text-justify">{{ 'privacyPolicyText1' | translate }}</p>
  <p class="header">{{ 'privacyPolicyHeader2' | translate }}</p>
  <p class="text-justify">{{ 'privacyPolicyText2' | translate }}</p>
  <p class="header">{{ 'privacyPolicyHeader3' | translate }}</p>
  <p class="text-justify">{{ 'privacyPolicyText3' | translate }}</p>
  <p class="header">{{ 'privacyPolicyHeader4' | translate }}</p>
  <p class="text-justify">{{ 'privacyPolicyText4' | translate }}</p>
  <p class="header">{{ 'privacyPolicyHeader5' | translate }}</p>
  <p class="text-justify">{{ 'privacyPolicyText5' | translate }}</p>
  <p class="header">{{ 'privacyPolicyHeader6' | translate }}</p>
  <p class="text-justify">{{ 'privacyPolicyText6' | translate }}</p>
  <p class="header">{{ 'privacyPolicyHeader7' | translate }}</p>
  <p class="text-justify">{{ 'privacyPolicyText7' | translate }}</p>
</div>
