<div class="flex flex-col h-screen justify-center items-center">
  <div class="verify flex flex-col items-center">
    <h2>{{ 'verifyEmail' | translate }}</h2>
    <p class="text-center pb-4">{{ 'plsVerifyEmailAddress' | translate }}</p>
    <button class="button transparent" (click)="resendLink()">
      {{ 'resendLink' | translate }}
    </button>
  </div>
</div>
