<landing></landing>
<div class="flex p-4 md:p-8 flex md:justify-center">
  <!-- <workshop-info></workshop-info> -->
  <!-- <workshop-topics></workshop-topics> -->
  <projects-section></projects-section>
</div>
