<div class="flex flex-col h-full justify-center align-center">
  <h2 class="text-center">{{ "notFound" | translate }}</h2>
  <p class="text-center">
    {{ "notFoundText" | translate }}
    <a class="text-center" routerLink="/">{{ "home" | translate }}</a>
  </p>
</div>
