<div class="flex flex-col h-screen justify-center items-center">
  <div class="imprint">
    <h2 class="text-center">{{ 'imprint' | translate }}</h2>
    <h3 class="text-center">tolga</h3>
    <h3 class="text-center">fiehra</h3>
    <h3 class="text-center">フィエラ</h3>
    <p class="text-center mb-2">skillcap.org, Berlin</p>
    <div class="text-center">
      <a
        class="text-center"
        href="https://gitlab.com/fiehra/skillcap-frontend"
        target="_blank"
        >{{ 'sourceCode' | translate }}</a
      >
    </div>
  </div>
</div>
