@import 'src/app/core/styles/skillcap.colors.scss';

.button {
  background-color: $primary;
  border: none;
  font-size: 1.25rem;
  color: $alt-font;
  padding: 0.5rem 1.5rem;
  box-shadow: 3px 3px 10px #222222;
  border-radius: 0.5rem;
  transition: 0.2s;
  -webkit-border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -ms-border-radius: 0.5rem;
  -o-border-radius: 0.5rem;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.button:hover,
.button:active {
  box-shadow: 0 0 12px $primary-hover;
  background-color: $primary-hover;
  cursor: pointer;
}

.button:disabled,
.button:disabled:hover {
  background: $primary-darker;
  color: $alt-font;
  box-shadow: 3px 3px 10px #222222;
}

.transparent {
  background-color: #00000000;
  border: $primary 2px solid;
  color: $primary;
  &:hover {
    background-color: $primary-hover;
    border-color: $primary-hover;
    color: $alt-font;
  }
}
