@import 'src/app/core/styles/skillcap.colors.scss';

@keyframes cursorEffect {
  0%,
  100% {
    border-color: transparent;
  }
  50% {
    border-color: $primary;
  }
}

@keyframes typingEffect {
  0% {
    width: 0ch;
  }
  10% {
    width: 8ch;
  }
  80% {
    width: 8ch;
  }
  90% {
    width: 0ch;
  }
  100% {
    width: 0ch;
  }
}

.sizeHover {
  img {
    box-shadow: 0 0 2rem $background-shadow;
  }
  color: $primary;
  text-shadow: 0.5rem 0.75rem 4px $background-shadow;
  transform: scale(1.06);
  -webkit-transform: scale(1.06);
  -moz-transform: scale(1.06);
  -ms-transform: scale(1.06);
  -o-transform: scale(1.06);
}

.h {
  font-size: 1.25rem;
  position: relative;
  font-weight: bold;
  text-shadow: 0 0 10px $primary;
}

.h::before {
  height: 1.25rem;
  width: 95%;
  display: inline-block;
  position: absolute;
  content: ' ';
  color: $primary;
  background: $primary;
  opacity: 0.2;
  top: 0.25rem;
  left: 0.5rem;
  transition: 0.2s;
  transform: translate(0.25rem);
  -webkit-transform: translate(0.25rem);
  -moz-transform: translate(0.25rem);
  -ms-transform: translate(0.25rem);
  -o-transform: translate(0.25rem);
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

a:hover {
  .h::before {
    top: 0.5rem;
    width: 105%;
    background: $primary-hover;
    transform: translate(1rem);
    -webkit-transform: translate(1rem);
    -moz-transform: translate(1rem);
    -ms-transform: translate(1rem);
    -o-transform: translate(1rem);
  }
}

@media only screen and (max-width: 768px) {
  .h::before {
    display: none;
  }
}
