@import 'src/app/core/styles/skillcap.colors.scss';

.image-wrapper {
  padding: 0.25rem;
  img {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    transition: 0.2s;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
  }
}

@media only screen and (max-width: 768px) {
}
