@import 'src/app/core/styles/skillcap.colors.scss';

.text-primary {
  color: $primary;
}

h1 {
  font-size: 5rem;
  font-weight: 200;
  text-shadow: 0 0 10px $primary;
  color: $primary;
  cursor: default;
  border-right: 3px solid $primary;
  white-space: nowrap;
  overflow: hidden;
  animation: cursorEffect 1s infinite step-end, typingEffect 10s infinite steps(8);
  -webkit-animation: cursorEffect 1s infinite step-end, typingEffect 10s infinite steps(8);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

h1:hover,
h1:active {
  cursor: default;
  color: $primary-hover;
  text-shadow: 0 0 10px $primary-hover;
}

h2 {
  font-size: 2rem;
  color: $primary;
  padding: 1rem 0rem;
}

a {
  text-decoration: none;
  color: $primary;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

a:hover {
  color: $primary-hover;
  text-shadow: 0 0 10px $primary;
  cursor: pointer;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

// .marker {
//   height: 0.25rem;
//   width: 0.25rem;
//   margin: 0 auto;
//   background: $primary;
//   margin-bottom: 1rem;
//   transition: 0.2s;
//   -webkit-transition: 0.2s;
//   -moz-transition: 0.2s;
//   -ms-transition: 0.2s;
//   -o-transition: 0.2s;
// }

// .verticalMarker {
//   height: 4rem;
//   width: 1px;
//   margin: 2rem auto;
//   background: $primary;
//   transition: 0.2s;
//   -webkit-transition: 0.2s;
//   -moz-transition: 0.2s;
//   -ms-transition: 0.2s;
//   -o-transition: 0.2s;
// }

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }
}
