<div class="flex flex-col items-center" #imageLink>
  <img [src]="images[0]?.imageUrl" (click)="openModal(0)" />
  <div class="w-full items-center p-4">
    <button
      class="pointer" aria-hidden="false" (click)="openModal(0)">
      collections

    </button>
  </div>
</div>

<!-- Modal Content (The Image) -->
<div id="myModal" class="lightbox">
  <div class="content" (swiperight)="plusSlides(-1)" (swipeleft)="plusSlides(1)">
    <div *ngFor="let image of images">
      <div class="mySlides w-full justify-content-center is-align-items-center">
        <span
          class="close" (click)="closeModal()"
          class="material-icons"
        >
          close
        </span>
        <img class="slideImage" [src]="image.imageUrl" />
        <p>{{ image.caption }}</p>
      </div>
      <a class="prev" *ngIf="slideIndex != 0" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" *ngIf="slideIndex != (images.length - 1)" (click)="plusSlides(1)">&#10095;</a>
      <div class="imageNav w-full flex justify-center">
        <button
          [class.selected]="slideIndex === i"
          class="index"
          *ngFor="let image of images; let i = index"
          (click)="openModal(i)"
        >circle</button>
      </div>
    </div>
  </div>
</div>

