<input
  [formControl]="inputControl"
  placeholder="{{ placeholder }}"
  type="{{ type }}"

  class="w-full mt-2 mb-1 block w-full px-3 py-2 bg-transparent border border-primary rounded-md focus:outline-none"
/>
<span *ngIf="inputControl.hasError('required') && inputControl.touched">{{
  requiredErrorMessage
  }}</span>
<span *ngIf="inputControl.hasError('email')">{{
  'emailInvalid' | translate
  }}</span>
<span *ngIf="inputControl.hasError('pwNotSame')">{{
  'pwsNotSame' | translate
  }}</span>
<span *ngIf="inputControl.hasError('noValidNumber')">{{
  'invalidNumber' | translate
  }}</span>
