<ul>
  <h3 class="text-xl">
    {{ 'currentProjects' | translate }}
  </h3>
  <li class="my-4">
    <a routerLink="/changelog"
      >{{ 'fullstackDeveloper' | translate }}<span class="h"> skillcap.org</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://iplantatree.org"
    >{{ 'fullstackDeveloper' | translate }}<span class="h"> iplantatree.org</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://thequalitygate.com"
    >{{ 'fullstackDeveloper' | translate }}<span class="h"> The Quality Gate</span></a
    >
  </li>
  <li>
    <a target="_blank" href="https://skillcap.org/gallery"
    >{{ 'artist' | translate }}<span class="h"> {{ 'berlin' | translate }}</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://fiehra.itch.io/dinolife"
      >{{ 'gamedev' | translate }}<span class="h"> dinolife platformer</span></a
    >
  </li>
</ul>
<ul>
  <h3 class="text-xl">
    {{ 'pastProjects' | translate }}
  </h3>
  <li class="my-4">
    <a target="_blank" href="https://gitlab.com/fiehra/bloom"
    >{{ 'fullstackDeveloper' | translate }}<span class="h"> Bloom</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://gitlab.com/fiehra/eldencheck"
    >{{ 'fullstackDeveloper' | translate }}<span class="h"> eldencheck</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://tarmac-festival.de/"
      >{{ 'artist' | translate }}<span class="h"> tarmac festival 2023</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://tarmac-festival.de/"
      >{{ 'artist' | translate }}<span class="h"> tarmac festival 2022</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://gitlab.com/fiehra/sumaho"
      >{{ 'fullstackDeveloper' | translate }}<span class="h"> nyanya.cat</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://tarmac-festival.de/"
      >{{ 'artist' | translate }}<span class="h"> tarmac festival 2021</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://belum.design/"
      >{{ 'artist' | translate }}<span class="h"> belum design</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://www.werk-2.de/"
      >{{ 'workshop' | translate }}<span class="h"> leipzig WERK 2</span></a
    >
  </li>
  <li class="my-4">
    <a target="_blank" href="https://tarmac-festival.de/"
      >{{ 'workshop' | translate }}<span class="h"> tarmac festival 2020</span></a
    >
  </li>
</ul>
