<scroll-indicator></scroll-indicator>
<div class="p-4 md:p-8 flex flex-col">
  <h2>
    {{ 'changelog' | translate }}
  </h2>
  <p>
    {{ 'currentVersion' | translate }}:
    <span>{{ version }}</span>
  </p>
  <p class="text-xl text-primary mt-2"> v2.2 </p>
  <p>removed angular material and implemented custom menu</p>
  <p>added server side rendering</p>
  <p class="text-xl text-primary mt-2"> v2.1 </p>
  <p>updated frontend and backend packages</p>
  <p>added license and merged backend and frontend repositories</p>
  <p class="text-xl text-primary mt-2"> v2.0 </p>
  <p>refactored, restructured and reorganised app</p>
  <p>implemented redux pattern</p>
  <p>added turkish language</p>
  <p>hosted fonts and icons locally</p>
  <p>removed many modules</p>
  <p class="text-xl text-primary mt-2"> v1.3 </p>
  <p>improved main and floating menu</p>
  <p>added images to blog</p>
  <p>added swipe functionality to improve UX</p>
  <p class="text-xl text-primary mt-2"> v1.2 </p>
  <p>improved registration process</p>
  <p>upon account deletion all forum content is wiped</p>
  <p class="text-xl text-primary mt-2"> v1.1 </p>
  <p>added release notes for reference</p>
  <p>added email verification to prevent spam</p>
  <p>refactored color menu to improve performance</p>
  <p>
    bug: fixed input translations <br />
    added unique theme background images
  </p>
  <p class="text-xl text-primary mt-2"> v1.0 </p>
  <p>released skillcap.org website</p>
</div>
