@import 'src/app/core/styles/skillcap.colors.scss';

span {
  color: $primary;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

span:hover,
span:active {
  cursor: default;
  color: $primary-hover;
  text-shadow: 0 0 10px $primary-hover;
}
