<div class="flex justify-center items-center flex-col h-screen">
  <h2>
    {{ 'signup' | translate }}
  </h2>
  <form class="p-4" *ngIf="signupForm">
    <skillcap-input
      (keyup.enter)="signUp()"
      [placeholder]="'email' | translate"
      [control]="signupForm.controls['email'] | formControl"
    ></skillcap-input>
    <skillcap-input
      (keyup.enter)="signUp()"
      [placeholder]="'username' | translate"
      [control]="signupForm.controls['username'] | formControl"
    ></skillcap-input>
    <skillcap-input
      (keyup.enter)="signUp()"
      [placeholder]="'password' | translate"
      [control]="signupForm.controls['password'] | formControl"
      [type]="'password'"
    ></skillcap-input>
    <skillcap-input
      (keyup.enter)="signUp()"
      [placeholder]="'passwordConfirmation' | translate"
      [control]="signupForm.controls['passwordConfirmation'] | formControl"
      [type]="'password'"
    ></skillcap-input>
  </form>
  <span>
    {{ 'existingUser' | translate }}
    <a routerLink="/login"> {{ 'login' | translate }} </a>
  </span>
  <div class="flex justify-center">
    <button class="button" (click)="signUp()" [disabled]="isLoading$ | async">
      {{ 'signup' | translate }}
    </button>
  </div>
</div>
