<div class="flex flex-col justify-center items-center h-screen landing">
  <h1 class="mb-8">
    {{ 'skillcap' | translate }}
  </h1>
  <button *ngIf="!(isAuthenticated$ | async)" class="button transparent" routerLink="/login">
    {{ 'login' | translate }}
  </button>
</div>
