@import 'src/app/core/styles/skillcap.colors.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Source Code Pro', monospace;
  font-size: 1rem;
}

html,
body {
  font-size: 20px;
  margin: 0;
  min-height: 100vh;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)), url(./assets/images/testJPG.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: $primary-font;

}

@media only screen and (max-width: 768px) {
  html,
  body {
    //   background: linear-gradient(rgba(0, 0, 0, 0.88), rgba(0, 0, 0, 0.8)),
    //      url(./assets/images/verticalTsuikyuu.jpg);
    background-size: cover;
    background: black;
    background-position: center;
    background-attachment: fixed !important;
    font-size: 16px;
  }
}
