@import 'src/app/core/styles/skillcap.colors.scss';

.mainMenu {
  position: fixed;
  right: 6rem;
  bottom: 6rem;
  z-index: 4;
  a, button {
    font-size: 1.5rem;
  }
}

.floatingMenuButton {
  .material-icons {
    font-size: 2rem;
    cursor: pointer;
    position: relative;
    top: 3px;
  }
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
  z-index: 3;
  height: 4rem;
  width: 4rem;
  background: $primary;
  box-shadow: 3px 3px 10px #222222;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.floatingMenuButton:hover,
.floatingMenuButton:active {
  box-shadow: 0 0 12px $primary-hover;
  background: $primary-hover;
}
