<div class="flex mainMenu">
  <div class="flex relative bg-primary flex-col rounded-md border-primary border-4" *ngIf="menuIsOpen && (menuType === 'main')">
    <a
      class="text-background hover:text-background px-2 py-1 bg-primary hover:bg-primary-hover"
      routerLink="/"
      (click)="toggleMenu()"
    >{{'home'|translate}}</a>
    <a
      class="text-background hover:text-background px-2 py-1 bg-primary hover:bg-primary-hover"
      *ngIf="!(isAuthenticated$ | async)"
      routerLink="/login"
      (click)="toggleMenu()"
    >{{'login'|translate}}</a>
    <a
      class="text-background hover:text-background px-2 py-1 bg-primary hover:bg-primary-hover"
      *ngIf="isAuthenticated$ | async"
      (click)="logout()"
    >{{'logout'|translate}}</a>
    <a
      class="text-background hover:text-background px-2 py-1 bg-primary hover:bg-primary-hover"
      routerLink="/gallery"
      (click)="toggleMenu()"
    >{{'gallery'|translate}}</a>
    <a
      class="text-background hover:text-background px-2 py-1 bg-primary hover:bg-primary-hover cursor-pointer"
      (click)="setMenuType('language'); $event.stopPropagation()"
    >{{currentLanguage}}</a>
    <a
      class="text-background hover:text-background px-2 py-1 bg-primary hover:bg-primary-hover"
      *ngIf="isAuthenticated$ | async"
      routerLink="/profile"
      (click)="toggleMenu()"
    >{{'profile'|translate}}</a>
  </div>
  <div class="flex relative items-start bg-primary flex-col rounded-md border-primary border-4" *ngIf="menuIsOpen && (menuType === 'language')">
    <button
      class="text-background hover:text-background w-full text-left px-2 py-1 bg-primary hover:bg-primary-hover"
      (click)="changeLanguage('en')">english</button>
    <button
      class="text-background hover:text-background w-full text-left px-2 py-1 bg-primary hover:bg-primary-hover"
      (click)="changeLanguage('jp')">日本語</button>
    <button
      class="text-background hover:text-background w-full text-left px-2 py-1 bg-primary hover:bg-primary-hover"
      (click)="changeLanguage('de')">deutsch</button>
    <button
      class="text-background hover:text-background w-full text-left px-2 py-1 bg-primary hover:bg-primary-hover"
      (click)="changeLanguage('tu')">türkçe</button>
  </div>
</div>

<button
  class="floatingMenuButton"
  (click)="toggleMenu()"
>
  <span
    class="material-icons"
    [@mainMenuToggler]="{ value: fabTogglerState }"
  >
    menu
  </span>
</button>
