<div class="footer flex flex-col p-4 md:px-8 bg-background">
  <div class="flex flex-col md:flex-row gap-6 pb-4">
    <a routerLink="/privacy"> {{ 'privacyPolicy' | translate }} </a>
    <a routerLink="/imprint"> {{ 'imprint' | translate }} </a>
    <a routerLink="/changelog"> {{ 'changelog' | translate }} </a>
  </div>
  <div class="text-center">
    <p>{{ 'copyrightText' | translate }}</p>
    <p class="version text-xs">
      {{ 'version' | translate }}:
      <a
        href="https://gitlab.com/fiehra/skillcap-frontend"
        class="text-sm"
        target="_blank"
        >{{ version }}</a
      >
    </p>
  </div>
</div>
