@import 'src/app/core/styles/skillcap.colors.scss';

.scroll-progress--fixed {
  width: 100%;
  height: 0.75rem;
  background: $primary;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 3;
}

/* The progress bar (scroll indicator) */
.scroll-progress__indicator {
  height: 0.75rem;
  background: $primary-darker;
  width: 0%;
}
