<div
  class="flex justify-center items-center flex-col h-screen"
>
  <h2>{{ 'login' | translate }}</h2>
  <form class="p-4" *ngIf="loginForm">
    <skillcap-input
      (keyup.enter)="login()"
      [placeholder]="'username' | translate"
      [control]="loginForm.controls['username'] | formControl"
    ></skillcap-input>
    <skillcap-input
      (keyup.enter)="login()"
      [placeholder]="'password' | translate"
      [control]="loginForm.controls['password'] | formControl"
      [type]="'password'"
    ></skillcap-input>
  </form>
  <span class="pb-8">
    {{ 'noAccountYet' | translate }}
    <a routerLink="/signup"> {{ 'signup' | translate }} </a>
  </span>
  <div class="flex flex-col items-center">
    <button class="button" (click)="login()">{{ 'login' | translate }}</button>
  </div>
</div>
